/**
 * Component:	Variables
*/
//======== 【Prefix】 ========
$prefix: 'fx';

$base-z-index: 1500;

// $base-url: 'https://h5.putao.com/mini_activity';
$base-url: 'http://test.fe.ptevent.cn/mini_activity';

$color-background: #fff;
$color-theme: #ffcd32;
$color-text: #000;
$color-text-highlight: #fff;
$font-size-m: 14px;
