.auth-button {
  width: auto;

  Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background: transparent;
    margin: 0 auto;
    padding: 0;
    border: 0;

    &::after {
      display: none;
    }
  }
}
